@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap');

#topHeader {
    color: #67615a;
    padding: 1rem 0;

    a {
        text-decoration: none;
        color: #67615a;
        font-size: 14px;

        :hover {
            text-decoration: underline;
        }

        span {
            padding: 0.25rem;
            color: #fff;
            background-color: #fc7523;
            border-radius: 5px;
        }
    }
}