@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap';

// --- VARIABLES ---

$green: #20ad96;
$gray: #67615a;
$light-gray: #f5f5f1;
$white: #fff;
$black: #000;

// --- GENERAL ---

.titleCaption {
    color: $gray;
}

.stdButton {
    background-color: $green;
    color: $white;
    border: 0;
    border-radius: 2px;
    padding: 1rem;
    text-transform: uppercase;
    font-size: small;
}

.w-48per {
    width: 48%;
}

// --- HEADER ---

#topHeader {
    color: $gray;
    padding: 1rem 0;

    a {
        text-decoration: none;
        color: $gray;
        font-size: 14px;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        padding: 0.25rem;
        color: $white;
        background-color: $green;
        border-radius: 5px;
        font-size: 12px;
    }
}

header {
    nav {
        a {
            color: $black;
            text-decoration: none;

            &:hover {
                color: $green;
            }
        }

        .bg-green {
            background-color: $green;
            width: 90%;
            height: 3px;
            bottom: 0;
        }
    }
}

// --- MAIN ---

main {
    background-color: $light-gray;

    h2 {
        font-weight: 500;
        font-size: medium;
        text-transform: uppercase;
        padding: 2rem 0;
    }

    h3 {
        font-family: 'IBM Plex Serif', serif;
        font-weight: 500;
        padding: 1rem;
    }

    // --- Jumbotron ---
    #jumbotron {
        background-image: url('/src/assets/Background/single-post-img3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100% 70vh;

        #todaysPick {
            background-color: $white;
            width: 40%;
            padding: 2rem 3rem;
            margin: 20vh 0;
            text-align: center;

            div {
                color: $white;
                text-transform: uppercase;
                background-color: $green;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                transform: translate(-50%, -50%);
                top: 0;
                left: 50%;
            }

            h1 {
                font-weight: 700;
                font-family: 'IBM Plex Serif', serif;
                padding-bottom: 1rem;
            }

            p {
                color: $gray;
            }
        }

        #journal {
            background-color: $white;
            padding: 1rem 0;

            hr {
                width: 35%;
                border: 1px solid $light-gray;
            }

            #cards {
                img {
                    width: 95%;
                }

                p {
                    color: $gray;
                }
            }
        }
    }

    // --- Popular Recipes ---
    #popularRecipes {
        margin-top: 2rem;

        div.w-70per {
            padding: 2rem 0;

            .w-47per {
                width: 47%;
            }

            #showRecepie {
                background-color: $white;
                line-height: 30px;

                div.p-1-0 {
                    h3 {
                        padding: 0;
                    }

                    p {
                        font-size: small;
                    }
                }

                hr {
                    border: 1px dotted $light-gray;
                }
            }
        }
    }

    // --- Culinary Collection ---
    #culinaryNav {
        margin-top: 4rem;

        nav {
            padding: 1rem 0;

            div {
                background-color: $white;
                width: 23%;
                padding: 1rem 0;
                cursor: pointer;

                p {
                    font-size: small;
                    padding-top: 1rem;
                }
            }
        }
    }

    // --- Blog ---
    #blog {
        margin-top: 4rem;

        .otherArticle {
            width: 60%;

            button {
                padding: 0.75rem;
                text-transform: uppercase;
                font-weight: 600;
                background-color: #edede7;
                border: 0;
                width: 100%;
            }
        }

        .card {
            background-color: $white;

            h3 {
                padding: 0;
            }

            p {
                padding-top: 0.25rem;
                font-size: small;
            }

            hr {
                border: 1px dotted $light-gray;
                margin: 1rem 0;
            }

            .info {
                color: $gray;

                .general {
                    padding-top: 2rem;
                    font-size: small;

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .smaller {
            text-align: center;
        }

        .links {
            width: 35%;

            .moreRecipes {
                h4 {
                    text-transform: uppercase;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    font-size: 20px;
                    text-align: center;
                    line-height: 32px;
                    font-weight: 600;
                }
            }

            .guides {
                h4 {
                    transform: translate(0, -50%);
                    top: 50%;
                    left: 0;
                    font-size: 18px;
                    color: $white;
                    font-weight: 600;
                    padding: 0.75rem;
                    background-color: rgba($color: #000000, $alpha: 0.75);
                }

                div.flex {
                    padding: 0.75rem 0;
                    font-size: small;
                    text-transform: uppercase;
                    color: $white;
                    background-color: $green;
                    cursor: pointer;
                }
            }

            hr {
                border: 1px solid #d9d9d9;
            }

            .search {
                width: 100%;
                border: 1px solid #d9d9d9;
                color: $gray;

                button {
                    padding: 1rem;
                    border: 0;
                    background-color: $white;
                    color: $gray;
                }

                input {
                    padding: 1rem;
                    border: 0;
                }
            }

            .followUs {
                h4 {
                    font-family: 'IBM Plex Serif', serif;
                    color: $green;
                    padding-bottom: 1rem;
                    font-weight: 500;
                }

                div.flex {
                    gap: 0.5rem;

                    div {
                        color: $gray;
                        padding: 0.5rem;
                        background-color: #d9d9d9;
                        font-size: small;
                    }
                }
            }

            .otherArticleSel {
                width: 100%;

                .selection {
                    text-align: center;
                    width: 100%;

                    div {
                        width: 50%;
                        font-weight: 500;
                        font-family: 'IBM Plex Serif', serif;
                        border: 1px solid #d9d9d9;
                        padding: 1rem 0;

                        &.clicked {
                            background-color: $white;
                        }
                    }
                }

                img {
                    border-radius: 50%;
                    width: 8vh;
                    height: 8vh;
                }

                .title {
                    p {
                        font-size: small;
                        line-height: 20px;

                        small {
                            font-size: smaller;
                        }
                    }
                }
            }

            .twitter {
                padding: 1.5rem;
                background-color: $white;

                .tweetTitle {
                    padding-bottom: 1rem;

                    h4 {
                        font-weight: 600;
                        font-size: larger;
                    }

                    p {
                        font-size: small;
                    }

                    a {
                        font-size: small;
                        text-decoration: none;
                        color: #2b7bb9;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .w-1rem {
                        width: 1rem;
                        text-align: center;
                    }

                    i {
                        font-size: xx-small;
                        color: $gray;
                        position: relative;

                        &:after {
                            content: "";
                            position: absolute;
                            border: 1px solid $gray;
                            border-radius: 50%;
                            width: 1rem;
                            height: 1rem;
                            transform: translate(-50%, -50%);
                            top: 50%;
                            left: 50%;
                        }
                    }
                }

                .mainTweet {

                    .logo {
                        padding: 0.5rem;
                    }

                    .infoTweet {
                        width: 78%;

                        .account {
                            h5 {
                                font-size: large;
                            }

                            p {
                                font-size: medium;
                                color: $gray;
                            }

                            i {
                                color: #d9d9d9;
                            }
                        }

                        .description {
                            margin-top: 0.35rem;

                            p {
                                font-size: small;

                                span {
                                    color: #2b7bb9;
                                    cursor: pointer;
                                }
                            }
                        }

                        img {
                            padding-top: 1rem;
                            border-radius: 5px;
                        }

                        .info {
                            padding-top: 1rem;
                            color: $gray;
                            font-size: small;
                        }
                    }
                }
            }
        }
    }
}