// --- FLEX ---

.flex {
    display: flex;
}

// --- Justify ---

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.jc-evenly {
    justify-content: space-evenly;
}

// --- Align ---

.ai-center {
    align-items: center;
}

// --- Gap ---

.gap-1 {
    gap: 1rem;
}

// --- Other ---

.fd-columns {
    flex-direction: column;
}

.fw-wrap {
    flex-wrap: wrap;
}

// --- DIMENSION ---

// --- Width ---

.w-100per {
    width: 100%;
}

.w-80per {
    width: 80%;
}

.w-70per {
    width: 70%;
}

.w-60per {
    width: 60%;
}

.w-50per {
    width: 50%;
}

.w-40per {
    width: 40%;
}

.w-30per {
    width: 30%;
}

.w-20per {
    width: 20%;
}

.w-10per {
    width: 10%;
}

// --- Height ---

.h-100per {
    height: 100%;
}

.h-20vh {
    height: 20vh;
}

// --- Padding ---

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-025-0 {
    padding: 0.5rem 0;
}

.p-1-0 {
    padding: 1rem 0;
}

// --- COLORS ---

// --- Background ---

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

// --- Text Color ---

.c-white {
    color: #fff;
}

.c-black {
    color: #000;
}

// --- TEXT ---

// --- Text Align ---

.ta-center {
    text-align: center;
}

// --- Text Decoration ---

.upperCase {
    text-transform: uppercase;
}

// --- POSITION ---

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

// --- OTHER ---

.space {
    margin-right: 4px;
}